<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>

    <button class="hover">Button</button>
    <button class="hover">Button</button>

    <div class="dropdown">
      <button>Menu</button>
      <div class="options">
        <a href="#">Option 1</a>
        <a href="#">Option 2</a>
        <a href="#">Option 3</a>
        <a href="#">Option 4</a>
      </div>
    </div>

    <img src="img1.png" class="zoomimage">

  </body>
</html>
